<h1>Simple todo lists</h1>
		<h3>From Ruby Garage</h3>
		<div class="main-table">

			<div class="table-header">
				<div class="ti ti-calendar table-name">Complete the test task for Ruby Garage</div>
						<div class="right-icon">
							<a href="" class="ti ti-pencil right-line"></a>                      <!--пустая ссылка-->
							<a href="" class="ti ti-trash"></a>
						</div>
			</div> <!--table-header-->

			<table class="task-table">
				<tbody>
				<tr>
					<th><div class="plus"></div></th>
					<th colspan="2">
						<form action="" method="post">
							<input type="text" name="add-task" placeholder="Start typing here to create a task..." />
							<input class="button" type="submit" value="Add Task" />
						</form>
					</th>
				</tr>
				<tr>
					<td class="col-1"><div class="foursquare"></div></td>
					<td class="col-2"><p>Open this mock-up in Adobe Fireworks</p></td>
					<td class="col-3">
						<div class="table-icon">
							<a href="" class="ti ti-split-v"></a>
							<a href="" class="ti ti-pencil left-right-line"></a>
							<a href="" class="ti ti-trash"></a>
						</div>
					</td>
				</tr>
				<tr>
					<td class="col-1"><div class="foursquare"></div></td>
					<td class="col-2"><p>Attentively check the file</p></td>
					<td>
						<div class="table-icon">
							<a href="" class="ti ti-split-v"></a>
							<a href="" class="ti ti-pencil left-right-line"></a>
							<a href="" class="ti ti-trash"></a>
						</div>
					</td>
				</tr>
				<tr>
					<td class="col-1"><div class="foursquare"></div></td>
					<td class="col-2"><p>Write HTML & CSS</p></td>
					<td>
						<div class="table-icon">
							<a href="" class="ti ti-split-v"></a>
							<a href="" class="ti ti-pencil left-right-line"></a>
							<a href="" class="ti ti-trash"></a>
						</div>
					</td>
				</tr>
				<tr>
					<td class="col-1"><div class="foursquare"></div></td>
					<td class="col-2"><p>Add Javascript to implement adding / editing / removing for todo items and lists taking into account as more use cases as possible</p></td>
					<td>
						<div class="table-icon">
							<a href="" class="ti ti-split-v"></a>
							<a href="" class="ti ti-pencil left-right-line"></a>
							<a href="" class="ti ti-trash"></a>
						</div>
					</td>
				</tr>
			</tbody>
			</table>

		</div> <!--main-table-->

		<div class="main-table">

			<div class="table-header">
				<div class="ti ti-calendar table-name">For Home</div>
						<div class="right-icon">
							<a href="" class="ti ti-pencil right-line"></a>                      <!--пустая ссылка-->
							<a href="" class="ti ti-trash"></a>
						</div>
			</div> <!--table-header-->

			<table class="task-table">
				<tbody>
				<tr>
					<th><div class="plus"></div></th>
					<th colspan="2">
						<form action="" method="post">
							<input type="text" name="add-task" placeholder="Start typing here to create a task..." />
							<input class="button" type="submit" value="Add Task" />
						</form>
					</th>
				</tr>
				<tr>
					<td class="col-1"><div class="foursquare"></div></td>
					<td class="col-2"><p>Buy a milk</p></td>
					<td class="col-3">
						<div class="table-icon">
							<a href="" class="ti ti-split-v"></a>
							<a href="" class="ti ti-pencil left-right-line"></a>
							<a href="" class="ti ti-trash"></a>
						</div>
					</td>
				</tr>
				<tr>
					<td class="col-1"><div class="foursquare"></div></td>
					<td class="col-2"><p>Call Mam</p></td>
					<td>
						<div class="table-icon">
							<a href="" class="ti ti-split-v"></a>
							<a href="" class="ti ti-pencil left-right-line"></a>
							<a href="" class="ti ti-trash"></a>
						</div>
					</td>
				</tr>
				<tr>
					<td class="col-1"><div class="foursquare"></div></td>
					<td class="col-2"><p>Clear the room</p></td>
					<td>
						<div class="table-icon">
							<a href="" class="ti ti-split-v"></a>
							<a href="" class="ti ti-pencil left-right-line"></a>
							<a href="" class="ti ti-trash"></a>
						</div>
					</td>
				</tr>
				<tr>
					<td class="col-1"><div class="foursquare"></div></td>
					<td class="col-2"><p>Repair the DVD Player</p></td>
					<td>
						<div class="table-icon">
							<a href="" class="ti ti-split-v"></a>
							<a href="" class="ti ti-pencil left-right-line"></a>
							<a href="" class="ti ti-trash"></a>
						</div>
					</td>
				</tr>
			</tbody>
			</table>

		</div> <!--main-table-->

		<div class="button-add-list">
			<div class="plus"></div><a href="#">Add TODO List</a>
		</div>

		<div id="test-container">


		</div>

		<div class="copy">&#169 Ruby Garage</div>